<?xml version="1.0" encoding="utf-8" ?>
<!-- RENAME TO App.Config and replace API placeholders below -->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubscriberFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubscriberFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SubscriberFeed.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>INSERT CLIENT ID HERE</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>INSERT CLIENT SECRET HERE</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>http://subscriberfeed-1xxoi1ew.rhcloud.com/</value>
            </setting>
            <setting name="LocalCookie" serializeAs="String">
                <value>subscriberFeedLocalCookie.xml</value>
            </setting>
        </SubscriberFeed.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SubscriberFeed.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Code" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenExpiry" serializeAs="String">
                <value />
            </setting>
        </SubscriberFeed.Properties.Settings>
    </userSettings>
</configuration>